:root {
  --primary: #fd377e;
  --primary-2: #e34981;

  --secundary: #03b898;

  --gray-4: #212529;
  --gray-3: #868e96;
  --gray-2: #e9ecef;
  --gray-1: #f8f9fa;
}

.header {
  margin: 0 auto;

  padding: 1.5625rem 0.9375rem;

  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);

  margin-bottom: 3.125rem;

  background-color: var(--gray-1);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;

  width: 100%;
}

@media only screen and (min-width: 768px) {
  .header__content {
    width: 70%;
  }
}

.header__button {
  background-color: var(--gray-2);
  color: var(--gray-4);

  padding: 0.9375rem;

  border-radius: 0.5rem;

  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;

  transition: all 0.5s linear;
}

.header__button:hover {
  color: var(--gray-1);
  background-color: var(--gray-4);
  cursor: pointer;
}
